<template>
  <div class="vacancy" v-if="Object.keys(vacancy).length">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-10 col-12">
          <div class="row mb-4">
            <div class="col-12 mb-2">
              <h1 class="vacancy__title">{{ vacancy.Title }}</h1>
            </div>
            <div class="col-12">
              <p class="vacancy__salary">
                До {{ vacancy.max.toLocaleString() }} KZT до вычета налогов
              </p>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-5">
              <a href="javascript:void(0)" class="vacancy__company">{{
                vacancy.company
              }}</a>
            </div>
            <div class="offset-lg-4"></div>
            <div class="col-lg-3">
              <img
                :src="vacancy.logo"
                alt="Vacancy logo"
                class="vacancy__logo"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-lg-4 d-flex flex-wrap justify-content-between">
              <a href="javascript:void(0)" class="vacancy__follow-link"
                >Откликнуться</a
              >
              <a href="javascript:void(0)" class="vacancy__contacts-link"
                >Показать контакты</a
              >
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <p class="vacancy__requirement-paragraph">
                Треубуемый опыт работы: {{ vacancy.inner.experience }}
              </p>
              <p class="vacancy__requirement-paragraph">
                {{ vacancy.type }}
              </p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <h5>Требования</h5>
              <ul>
                <li
                  v-for="(requirement, index) in vacancy.inner.requirements"
                  :key="index"
                >
                  <p class="vacancy__requirement-paragraph">
                    {{ requirement }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <h5>Обязанности</h5>
              <ul>
                <li v-for="(duty, index) in vacancy.inner.duties" :key="index">
                  <p class="vacancy__duties-paragraph">
                    {{ duty }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12">
              <h3>Ключевые навыки</h3>
              <ul class="vacancy__key-skills">
                <li
                  v-for="(key_skill, index) in vacancy.inner.key_skills"
                  :key="index"
                >
                  {{ key_skill }}
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3>Вам подойдут эти вакансии</h3>
              <div
                class="suitable__vacancy"
                v-for="(vacancy, index) in vacanciesPerPAge"
                :key="index"
              >
                <div class="row mb-2">
                  <div class="col-12 d-flex justify-content-between mb-2">
                    <router-link
                      :to="{ name: 'Vacancy', params: { id: vacancy.id } }"
                      class="vacancy__link"
                      >{{ vacancy.Title }}</router-link
                    >
                    <p class="vacancy__salary">
                      {{
                        vacancy.min.toLocaleString() +
                          "-" +
                          vacancy.max.toLocaleString() +
                          " KZT"
                      }}
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="vacancy__company">
                      {{ vacancy.company }} <span>Алматы</span>
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-lg-10 col-7">
                    <p class="vacancy__requirements">
                      {{ vacancy.requirements }}
                    </p>
                  </div>
                  <div class="col-lg-2 col-5">
                    <img
                      :src="vacancy.logo"
                      :alt="vacancy.company"
                      class="vacancy__logo"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="vacancy__controls">
                      <ul>
                        <li>
                          <a href="javascript:void(0)">Откликнуться</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Не показывать</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">В избранное</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-7 d-flex justify-content-end">
                    <p class="vacancy__birthtime">{{ vacancy.created_at }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Vacancy",
  props: {
    id: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      perPage: 30,
      currentPage: 0,
    };
  },
  computed: {
    ...mapState({
      vacancy: (state) => state.vacancy.vacancy,
      vacancies: (state) => state.searchVacancy.vacancies,
    }),
    totalCount() {
      return this.vacancies.length;
    },
    pages() {
      return Math.ceil(this.totalCount / this.perPage);
    },
    vacanciesPerPAge() {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;
      return this.vacancies.slice(start, end);
    },
  },
  created() {
    this.$store.dispatch("vacancy/fetchVacancy", this.id);
    this.$store.dispatch("searchVacancy/fetchVacancies");
  },
};
</script>

<style lang="scss" scoped>
.vacancy {
  &__title {
    @include text($font, 2.25rem, 1.2, 600, #333);
  }
  &__salary {
    @include text($font, 1.325, 1.2, 500, #333);
  }
  &__company {
    @include text($font, 1.325rem, 1.2, 500, #09f);
    &:hover {
      color: #c00;
    }
  }
  &__logo {
    max-width: 150px;
    max-height: 100px;
  }
  &__follow-link {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-appearance: none;
    cursor: pointer;
    height: 38px;
    position: relative;
    padding: 0 15px;
    border: 1px solid;
    font-size: 14px;
    font-family: inherit;
    line-height: 36px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    color: #333;
    border-color: #cbd1d4;
    background-color: #f9f9f9;
    color: #fff;
    border-color: #8cb900;
    background-color: #8cb900;
  }
  &__contacts-link {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-appearance: none;
    cursor: pointer;
    height: 38px;
    position: relative;
    padding: 0 15px;
    border: 1px solid;
    font-size: 14px;
    font-family: inherit;
    line-height: 36px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    color: #333;
    border-color: #cbd1d4;
    background-color: #f9f9f9;
    &:hover {
      border-color: #acb5ba;
    }
  }
  &__requirement-paragraph,
  &__vacancy__duties-paragraph {
    @include text($font, 1rem, 1.2, 400, #333);
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 20px;
    li {
      position: relative;
      &::before {
        display: block;
        position: absolute;
        right: 100%;
        padding-right: 6px;
        content: "—";
      }
    }
  }
  h5 {
    @include text($font, 0.875rem, 1.2, 600, #333);
    margin-bottom: 1.5rem;
  }
  h3 {
    @include text($font, 1.375rem, 1.2, 700, #333);
    margin-bottom: 1.5rem;
  }
  &__key-skills {
    @include flex(row, wrap, stretch, flex-start);
    margin-left: 0 !important;
    li {
      margin: 0 8px 8px 0;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: rgba(203, 209, 211, 0.3);
      color: #666;
      position: relative;
      padding: 0;
      height: 30px;
      line-height: 28px;
      border: 1px solid transparent;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      padding: 0 11px;
      text-align: left;
      &::before {
        content: none;
      }
    }
  }
  .suitable__vacancy {
    padding: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
    margin-top: -1px;
    .vacancy__link {
      @include text($font, 1.25rem, 1.2, 600, #09f);
      &:hover {
        color: #c00;
      }
    }
    .vacancy__company {
      @include text($font, 0.8rem, 1.2, 400, #999);
      span {
        display: block;
      }
    }
    .vacancy__requirements {
      @include text($font, 1rem, 1.2, 400, #333);
    }
    .vacancy__logo {
      max-width: 110px;
      max-height: 70px;
    }
    .vacancy__birthtime {
      @include text($font, 0.85rem, 1.2, 400, #b2b2b2);
    }
    .vacancy__salary {
      @include text($font, 1.125rem, 1.2, 400, #333);
    }
    .vacancy__controls {
      ul {
        @include flex(row, nowrap, center, space-between);
        padding-left: 0;
        list-style: none;
        margin-left: 0;
        li {
          &::before {
            content: none;
          }
        }
        a {
          @include text($font, 1.05rem, 1.2, 400, #09f);
          &:hover {
            color: #c00;
          }
        }
      }
    }
  }
}
</style>
