<template>
  <div style="display:contents">
    <div class="header">
      <section class="header__section-first">
        <div class="container-fluid">
          <div class="row py-2">
            <div class="col-lg-1 col-md-2 col-12">
              <button type="button" class="header__country-btn">
                Казахстан
              </button>
            </div>
            <div class="offset-lg-6 offset-md-2"></div>
            <div class="col-lg-5 col-md-8 col-12">
              <nav class="header__menu">
                <ul>
                  <li>
                    <router-link :to="{ name: 'Search' }"
                      >Поиск работы</router-link
                    >
                  </li>
                  <li>
                    <router-link :to="{ name: 'Autoraising' }"
                      >Автоподнятие резюме</router-link
                    >
                  </li>
                  <li>
                    <router-link :to="{ name: 'Job' }"
                      >Хочу у вас работать</router-link
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="header__section-second">
        <div class="container-fluid">
          <div class="row py-4">
            <div class="col-lg-4 col-12">
              <div
                class="d-flex flex-wrap justify-content-between align-items-center"
              >
                <router-link :to="{ name: 'Home' }" style="display: contents;">
                  <img src="~@/assets/icons/logo.svg" class="header__logo" />
                </router-link>
                <nav class="header__submenu">
                  <ul>
                    <li>
                      <router-link :to="{}">Мои резюме</router-link>
                    </li>
                    <li>
                      <router-link :to="{}">Отклики</router-link>
                    </li>
                    <li>
                      <router-link :to="{}">Помощь</router-link>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="offset-lg-5"></div>
            <div class="col-lg-4"></div>
          </div>
        </div>
      </section>
    </div>
    <router-view></router-view>
    <div class="footer">
      <div class="container-fluid">
        <div class="row mb-4">
          <div class="col-lg-3 col-md-3 col-sm-4 col-6">
            <nav class="footer__menu">
              <h3>HeadHunter</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)">Наши вакансии</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Реклама на сайте</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Требования к ПО</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Защита персональных данных</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Инвесторам</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-6">
            <nav class="footer__menu">
              <h3>Сервисы для соискателей</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)">Продвижение резюме</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Автоподнятие резюме</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Хочу у вас работать</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-6">
            <nav class="footer__menu">
              <ul>
                <li>
                  <a href="javascript:void(0)">Помощь</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Каталог компаний</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Работа по профессиям</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-6">
            <img src="~@/assets/icons/logo__gray.svg" class="footer__logo" />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <ul class="footer__socials">
              <li>
                <a href="javascript:void(0)">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="fab fa-vk"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="offset-lg-1 offset-md-2 offset-sm-1 offset-4"></div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <ul class="footer__apps">
              <li>
                <a href="javascript:void(0)">
                  <i class="fab fa-app-store-ios"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="fab fa-google-play"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style lang="scss" scoped></style>
