<template>
  <div class="search">
    <section class="search__section-first">
      <div class="container-fluid pt-4">
        <div class="row mb-4">
          <div class="col-lg-7">
            <form class="search__form" @submit.prevent>
              <input
                class="search__input"
                type="text"
                autocomplete="off"
                placeholder="Профессия, должность или компания"
              />
              <button type="submit" class="search__button">Найти</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <nav class="search__nav">
              <ul>
                <li>
                  <router-link :to="{ name: 'SearchVacancy' }"
                    >Вакансии</router-link
                  >
                </li>
                <li>
                  <router-link :to="{ name: 'SearchResume' }"
                    >Резюме</router-link
                  >
                </li>
                <li>
                  <router-link :to="{ name: 'SearchCompany' }"
                    >Компании</router-link
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Search",
};
</script>

<style lang="scss">
.search {
  &__section-first {
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
  }
  &__form {
    @include flex(row, nowrap, stretch, flex-start);
  }
  &__input {
    @include text($font, 0.875rem, 1.2, 500, #333);
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding: 0 11px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #cbd1d4;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    flex: 0 0 87.5%;
    @media (max-width: 576px) {
      flex: unset;
    }
  }
  &__button {
    @include text($font, 0.875rem, 1.2, 500, #fff);
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-appearance: none;
    height: 38px;
    position: relative;
    padding: 0 15px;
    border: 1px solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    border-color: #0f8fee;
    background-color: #0f8fee;
    flex: 0 0 12.5%;
    @media (max-width: 576px) {
      flex: unset;
    }
  }
  &__nav {
    ul {
      @include flex(row, nowrap, center, space-between);
      padding-left: 0;
      list-style: none;
      a {
        position: relative;
        display: block;
        padding: 0 0 1rem 0;
        @include text($font, 0.875rem, 1.2, 500, #333);
        &.router-link-exact-active::before {
          display: block;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          background-color: #8cb900;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .vacancies__filters__sticky {
    display: none;
  }
}
</style>
