.footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #212122;
  padding: 35px 0;
  &__menu {
    h3 {
      @include text($font, 1rem, 1.2, 600, #fff);
      margin-bottom: 0.5rem;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 0.5rem;
        a {
          @include text($font, 0.875rem, 1.2, 400, #ccc);
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  &__socials {
    @include flex(row, wrap, stretch, space-between);
    list-style: none;
    padding-left: 0;
    i {
      font-size: 1.5rem;
      color: #ccc;
      transition: all 0.3s ease;
      &:hover {
        color: #fff;
      }
    }
  }
  &__apps {
    @include flex(row, wrap, stretch, space-between);
    list-style: none;
    padding-left: 0;
    i {
      font-size: 2rem;
      color: #ccc;
      transition: all 0.3s ease;
      &:hover {
        color: #fff;
      }
    }
  }
}
