.header {
  .header__section {
    &-first {
      .header__country-btn {
        @include text($font, 1rem, 1.2, 600, #09f);
        display: inline;
        outline: none;
        border: 0;
        text-decoration: none;
        cursor: pointer;
        padding: 0;
        background: transparent;
        box-shadow: none;
        background-image: linear-gradient(
          to right,
          rgba(0, 153, 255, 0.5),
          rgba(0, 153, 255, 0.5) 60%,
          transparent 60%,
          transparent 100%
        );
        background-position: 0 bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        transition: opacity 0.1s;
      }
      .header__menu {
        ul {
          @include flex(row, wrap, center, space-between);
          padding-left: 0;
          list-style: none;
          a {
            @include text($font, 1rem, 1.2, 500, #609fcf);
            &.router-link-active {
              color: #333;
            }
          }
        }
      }
    }
    &-second {
      background: #222;
      .header__logo {
        width: 65px;
        height: 35px;
      }
      .header__submenu {
        flex: 0 0 75%;
        ul {
          @include flex(row, wrap, center, space-between);
          padding-left: 0;
          list-style: none;
          a {
            @include text($font, 1rem, 1.2, 500, #fff);
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .header__section-first {
    display: none;
  }
}
