<template>
  <div class="vacancies">
    <div class="container-fluid py-5">
      <div class="row mb-5">
        <div class="col-12">
          <h1 class="vacancies__title">
            Найдено
            {{
              declOfNum(vacancies.length, ["вакансия", "вакансий", "вакансий"])
            }}
          </h1>
        </div>
      </div>
      <div class="row align-items-start" id="main-content">
        <div class="col-lg-3">
          <div id="filter" class="vacancies__filters__sticky">
            <div class="vacancies__filters-group">
              <b-card no-body v-for="(filter, index) in filters" :key="index">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <h3
                    block
                    v-b-toggle="`accordion-${index.replace(' ', '')}`"
                    variant="info"
                  >
                    {{ index }}
                  </h3>
                </b-card-header>
                <b-collapse
                  visible
                  :id="`accordion-${index.replace(' ', '')}`"
                  role="tabpanel"
                >
                  <b-card-body>
                    <ul>
                      <li v-for="(spec, i) in filter" :key="i">
                        <input
                          type="radio"
                          :id="`${spec.slug}_${spec.id}`"
                          :value="spec.id"
                          :name="spec.slug"
                        />
                        <label :for="`${spec.slug}_${spec.id}`">
                          <span>{{ spec.title }}</span>
                          <span>{{ spec.amount }}</span>
                        </label>
                      </li>
                    </ul>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row mb-4">
            <div class="col-12">
              <div
                class="vacancies__vacancy"
                v-for="(vacancy, index) in vacanciesPerPAge"
                :key="index"
              >
                <div class="row mb-2">
                  <div class="col-12 d-flex justify-content-between mb-2">
                    <router-link
                      :to="{ name: 'Vacancy', params: { id: vacancy.id } }"
                      class="vacancy__link"
                      >{{ vacancy.Title }}</router-link
                    >
                    <p class="vacancy__salary">
                      {{
                        vacancy.min.toLocaleString() +
                          "-" +
                          vacancy.max.toLocaleString() +
                          " KZT"
                      }}
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="vacancy__company">
                      {{ vacancy.company }} <span>Алматы</span>
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-lg-10 col-7">
                    <p class="vacancy__requirements">
                      {{ vacancy.requirements }}
                    </p>
                  </div>
                  <div class="col-lg-2 col-5">
                    <img
                      :src="vacancy.logo"
                      :alt="vacancy.company"
                      class="vacancy__logo"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="vacancy__controls">
                      <ul>
                        <li>
                          <a href="javascript:void(0)">Откликнуться</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Не показывать</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">В избранное</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-7 d-flex justify-content-end">
                    <p class="vacancy__birthtime">{{ vacancy.created_at }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="pagination">
                <li
                  class="page-item"
                  v-for="page in pages"
                  :key="page"
                  :class="[currentPage == page - 1 ? 'active' : '', 'page']"
                  @click="showPage(page - 1)"
                >
                  <a class="page-link" href="javascript:void(0);">{{ page }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import StickySidebar from "sticky-sidebar";
import {
  BCollapse,
  BCard,
  BCardHeader,
  BCardBody,
  VBToggle,
} from "bootstrap-vue";
export default {
  name: "SearchVacancy",
  data() {
    return {
      scrolledToBottom: false,
      scrolledToTop: false,
      perPage: 23,
      currentPage: 0,
    };
  },
  computed: {
    ...mapState({
      vacancies: (state) => state.searchVacancy.vacancies,
      filters: (state) => state.searchVacancy.filters,
    }),
    totalCount() {
      return this.vacancies.length;
    },
    pages() {
      return Math.ceil(this.totalCount / this.perPage);
    },
    vacanciesPerPAge() {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;
      return this.vacancies.slice(start, end);
    },
  },
  methods: {
    showPage(page) {
      return (this.currentPage = page);
    },
    declOfNum(number, titles) {
      // склонение именительных рядом с числительным
      let cases = [2, 0, 1, 1, 1, 2];
      return (
        number +
        " " +
        titles[
          number % 100 > 4 && number % 100 < 20
            ? 2
            : cases[number % 10 < 5 ? number % 10 : 5]
        ]
      );
    },
  },
  directives: {
    "b-toggle": VBToggle,
  },
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody,
  },
  created() {
    // this.$store.dispatch("searchVacancy/fetchFilters");
    this.$store.dispatch("searchVacancy/fetchVacancies");
  },
  mounted() {
    setTimeout(() => {
      new StickySidebar("#filter", {
        topSpacing: 0,
        bottomSpacing: 0,
        containerSelector: "#main-content",
        innerWrapperSelector: ".vacancies__filters-group",
      });
    }, 500);
  },
};
</script>

<style lang="scss" scoped>
.vacancies {
  &__title {
    @include text($font, 36px, 1.2, 700, #333);
  }
  .iss-affixed {
  }
  &__filters__sticky {
    will-change: min-height;
  }
  &__filters-group {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    padding: 20px;
    background-color: #f9f9f9;
    .card {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      .card-header {
        border-radius: 0;
        background-color: transparent;
        border-bottom: 0;
        h3 {
          @include text($font, 0.9rem, 1.2, 600, #333);
          background-color: transparent;
          border: none;
        }
      }
      .card-body {
        padding: 0;
        input[type="radio"] {
          display: none;
          &:checked {
            & + label {
              background-color: #ededed;
            }
          }
        }
        ul {
          padding-left: 0;
          list-style: none;
          li {
            label {
              padding: 9px;
              cursor: pointer;
              &:hover {
                background-color: #ededed;
              }
              @include flex(row, nowrap, stretch, space-between);
              span {
                @include text($font, 0.75rem, 1.2, 500, #666);
              }
            }
          }
        }
      }
    }
  }
  &__vacancy {
    padding: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
    margin-top: -1px;
    .vacancy__link {
      @include text($font, 1.25rem, 1.2, 600, #09f);
      &:hover {
        color: #c00;
      }
    }
    .vacancy__company {
      @include text($font, 0.8rem, 1.2, 400, #999);
      span {
        display: block;
      }
    }
    .vacancy__requirements {
      @include text($font, 1rem, 1.2, 400, #333);
    }
    .vacancy__logo {
      max-width: 110px;
      max-height: 70px;
    }
    .vacancy__birthtime {
      @include text($font, 0.85rem, 1.2, 400, #b2b2b2);
    }
    .vacancy__salary {
      @include text($font, 1.125rem, 1.2, 400, #333);
    }
    .vacancy__controls {
      ul {
        @include flex(row, nowrap, center, space-between);
        padding-left: 0;
        list-style: none;
        a {
          @include text($font, 1.05rem, 1.2, 400, #09f);
          &:hover {
            color: #c00;
          }
        }
      }
    }
  }
}
</style>
